
/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #158d7d
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34

$colorPicker = {
  red: #f26d6d,
  blue: #2196f3,
  green: #158d7d,
  orange: #fb9b5f
}